*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'PT Sans', sans-serif;
    background-color: #cccccc;
}

html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.container{
    padding-left: 30px;
    padding-right: 30px;
    margin-right: auto;
    margin-left: auto;
}
.header{
    background-color: #000000;
    border-bottom: 1px solid #626262;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .title{
    height: 100%;
    background-image: url(/images/bg1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}
.icons img{
    width: 40px;
    cursor: pointer;
}
.nav-bar{
    background-color: #000000;
}
.nav-bar ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.nav-bar ul li{
    padding: 16px 10px;
}
.nav-bar ul li:first-of-type{
    background-color: #3399FE;
    font-size: 20px;
}
.nav-bar ul li a.active{
    color: white;
}

.nav-bar ul li a{
    color: #989A99;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 18px;
}
.car  img{
    width: 100%;
    height: calc(100vh - 186px);
    border-top: 10px solid #cccccc;
}
.article{
    padding-top: 30px;
    padding-bottom: 20px;
}
.article .container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 70px;
}
.article .container h2{
    font-weight: 400;
    color: #3399FE;
    text-transform: uppercase;
    word-spacing: 2px;
    font-size: 30px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #9D9D9D;
}
.article .container p{
    font-family: sans-serif;
    color: #3b4141;
    font-size: 15px;
    word-spacing: 3px;
    font-weight: 400;
    letter-spacing: .5px;
    line-height: 1.3;
    margin-top: 20px;
    margin-bottom: 15px;
}
.article .left ul{
    margin-left: 40px;
}
.article .left li{
    color: #3b4141;
    font-size: 15px;
    word-spacing: 3px;
    font-weight: 400;
    letter-spacing: .5px;
    line-height: 1.3;
    position: relative;
    padding-left: 20px;
}
.article .left li:not(:last-child):before{
    content: "";
    width: 5px;
    height: 5px;
    background-color: #3b4141;
    position: absolute;
    top: 50%;
    left: 0;
    border-radius: 50%;
}
.article .left li:last-child:before{
    content: "";
    width: 5px;
    height: 5px;
    background-color: #3b4141;
    position: absolute;
    top: 25%;
    left: 0;
    border-radius: 50%;
}
.article .left .imgs{
    margin: 20px 0 25px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.article .left .imgs img{
    flex-basis: 48%;
    padding: 8px;
    border: 1px solid white;
}
.article .right h4{
    color: #FE6600;
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 20px;
    word-spacing: 2px;
}
.article .right h5{
    color: #2299FF;
    text-transform: uppercase;
    font-size: 17px;
    margin-top: 7px;
    word-spacing: 2px;
}
.article .right p{
    word-spacing: 4px;
    font-size: 15px;
    font-weight: 600;
    color: #646d6d;
}
.footer .container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
    border-top: 1px solid #9D9D9D;
    flex-direction: column;
}
.footer h3{
    font-family: sans-serif;
    color: #3b4141;
    font-size: 13px;
    word-spacing: 3px;
    font-weight: 400;
    letter-spacing: .5px;
    line-height: 1.3;
}





